{% extends "core/base.html" %}

{% block main_content %}  <!-- Используем новый блок -->
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Объекты не обнаружены!</h4>
    <p>На загруженном изображении не было обнаружено объектов мусора.</p>
    <hr>
    <p class="mb-0">Попробуйте загрузить другое изображение с более четкими объектами.</p>
</div>
<div class="text-center mt-4">
    <a href="{% url 'ensemble' %}" class="btn btn-primary">Загрузить другое изображение</a>
</div>
{% endblock %}